# Ignore raw data
data/raw/

# Ignore Jupyter temp files
.ipynb_checkpoints/

# Ignore OS junk
.DS_Store
Thumbs.db
.env

# Ignore large/temporary files
*.zip
*.pbix.autosave

# --- keep these in git ---
!data/
!data/clean/
!data/clean/**
!data/powerbi/
!data/powerbi/**